name: Check exception

on:
  issues:
    types: [edited]

jobs:
  validation:
    if: ${{ github.event.issue.state == 'open' }}
    runs-on: windows-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v6.0.2
      - name: Check exception
        env:
          ISSUE_TITLE: ${{ github.event.issue.title }}
          ISSUE_NUMBER: ${{ github.event.issue.number }}
          REPOSITORY_NAME: ${{ github.event.repository.full_name }}
          ISSUE_ACTOR: ${{ github.event.issue.user.login }}
        shell: pwsh
        run: |
          Import-Module "${{ github.workspace }}\scripts\edit.psm1"
          Block-package -title "$env:ISSUE_TITLE" -issueNumber $env:ISSUE_NUMBER -repository "$env:REPOSITORY_NAME" -actor "$env:ISSUE_ACTOR"
